################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MudServerBlazor/bin/Debug/net7.0
/MudServerBlazor/obj
/MudServerBlazor/MudServerBlazor.csproj.user
/MudServerBlazor/bin/Debug/net8.0
